/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--text-font), sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--background-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin-block-start: 100px;
  font-family: var(--tittle-font), sans-serif;
  width: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  border: 2px solid var(--border-color);
  height: fit-content;
  gap: 20px;
  background-color: var(--cards-color);
  margin-bottom: 105px;
}

@media (width <= 375px) {
  .page {
    width: 100vw;
  }
}

button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--tittle-font), sans-serif;
  font-size: 14px;
}

.theme-menu__button {
  text-transform: uppercase;
  position: relative;
  transition: 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transform-origin: left;
  transform: scale(1);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -14px;
  animation-name: loader;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  margin-block-end: 20px;
  margin-inline-start: 7px;
}

.tittle__logo {
  margin-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  cursor: pointer;
}

.subtittle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.article {
  width: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  background-color: var(--cards-color);
  border: 2px solid var(--border-color);
}

.article:not(:first-child) {
  margin-block-start: 52px;
}

.subtitle_text {
  font-size: 18px;
  font-variation-settings: "wght" var(--weight-accent);
}

p {
  line-height: 21px;
  font-variation-settings: "wght" var(--weight);
}

.text__conteiner {
  padding: 28px 23px 0px;
}

.text__content:not(:last-child) {
  padding-bottom: 14px;
}

.text__content:last-child {
  padding-top: 14px;
}

.subtitle_text {
  padding: 3px 0px 3px 10px;
}

.conteiner_image {
  width: 100%;
  height: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  position: relative;
  border: 2px solid var(--border-color);
}

.image {
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
}

.label_cards {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  bottom: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--tittle-font), sans-serif;
  color: var(--label-color);
  opacity: 50%;
  text-shadow: -1px 0 var(--stroke-color), 0 1px, 1px 0 var(--stroke-color),
    0 -1px var(--stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) {
  .label_cards {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.button__conteiner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin: 25px 25px 25px 0px;
}

.button_style {
  border: 2px solid var(--border-color);
  background-color: var(--cards-color);
  z-index: 1;
  transition: 0.3s ease;
}

.button_style:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--border-color);
}

.card__like-button {
  inline-size: 130px;
  block-size: 40px;
  position: relative;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--label-color);
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--like-color);
}

.btn:hover {
  transition: 0.5s ease-in-out;
}

.btn:hover::before {
  width: 100%;
}

.card__icon-button {
  padding: 0px;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--border-color);
}

.sparks {
  opacity: 0;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition: 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition: 0.3s linear;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.3s ease-in 0.06s;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s ease-in 0.06s;
}

.buttton__save {
  position: relative;
  width: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  padding: clamp(0.938rem, 0.86rem + 0.329vw, 1.156rem) 0px;
}

@media (width <= 375px) {
  .buttton__save {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }
}

.save__conteiner {
  margin-block-start: 48px;
  display: flex;
  justify-content: center;
}

.icon {
  width: 10px;
}

.icon__save {
  width: 28px;
  mix-blend-mode: difference;
  color: var(--like-color);
}

@media (width >= 1440px) {
  .icon__save {
    width: 21px;
  }
}

.modal__window {
  width: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-family: var(--tittle-font), sans-serif;
  font-size: 14px;
}

.dialog__text {
  display: flex;
  gap: 20px;
}

dialog:not([open]) {
  display: none;
  pointer-events: none;
}

.modal__window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.button__dialog {
  inline-size: clamp(16.063rem, 15.27rem + 3.38vw, 18.313rem);
  block-size: 38px;
  text-transform: uppercase;
  position: relative;
}

.dialog__paragraph {
  width: clamp(12.375rem, 11.583rem + 3.38vw, 14.625rem);
}

.icon {
  width: 39px;
}

.brightness {
  filter: brightness(150%);
}

.contrast {
  filter: contrast(120%);
}

.opacity {
  filter: opacity(0.9);
}

.blur {
  filter: blur(2px);
}

.grayscale {
  filter: grayscale(0.9);
}

.saturate {
  filter: saturate(138%);
}

.sepia {
  filter: sepia(0.5);
}

.multiple_filter {
  filter: contrast(1) brightness(140%)
    drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.2));
}
